.cadastro {
    text-align: center !important;
    
}
.form {
    width: 100%;
    text-align: center;
    
}
.botao {
    font-size: 15px;
    text-align: center;
    width: 100%;
}
.termo {
    font-size: 19px;
    text-align: center;
    width: 100%;
}
