<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="login"></ion-back-button>
        </ion-buttons>
    <ion-title class= "cadastro">Create account</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form   [formGroup] ="formulario"  (ngSubmit) = "cadastrarUsuario()">
      <ion-row>
          <ion-col class="form" >
              <ion-item  class="form-group">
                  <ion-label>Name: </ion-label>
                  <ion-input type ="text" formControlName="nome_completo"></ion-input>
                </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class = "form">
              <ion-item  class="form-group">
                  <ion-label>Email: </ion-label>
                  <ion-input formControlName="email"></ion-input>
                </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="form">
                <ion-item class="form-group">
                    <ion-label>Password: </ion-label>
                    <ion-input type ="password" formControlName="senha" ></ion-input>
                  </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col class="form">
                  <ion-item class="form-group">
                      <ion-label>Confirm Password: </ion-label>
                      <ion-input type ="password" formControlName="confirma_senha" ></ion-input>
                    </ion-item>
              </ion-col>
            </ion-row>
          <ion-row>
              <ion-col class="botao">
                  <ion-button type= "submit" routerLink="/login" expand="full"
                  fill="clear">Create your account </ion-button>
              </ion-col>
            </ion-row>       
            <ion-row>
                <ion-col class="termo">
                    <button class="ion-activatable" type= "submit" >
                       By creating an account you agree to the Terms of use
                      </button>
                </ion-col>
              </ion-row>    
  </form>

</ion-content>
