<ion-header>
  <ion-toolbar>
    <ion-title>restaurante</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="restaurante !== undefined">         
<ion-card>
  <ion-item>
    <div class="box-header with-border">
      <h3 class="box-title">{{restaurante.name}}</h3><span class="pull-right"><i class="fa fa-star"></i> {{restaurante.rating}}</span>
    </div>
  </ion-item>
  <ion-item>
    <div class="col-sm-3 col-xs-12">
      <img class="box-img-detail" [src]="restaurante.imagePath" />
    </div>
  </ion-item>
  <ion-card-content>
    <dt>Horários: </dt>
    <dd>{{restaurante.hours}}</dd>
  </ion-card-content>
</ion-card>
  </ion-content>
