<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>restaurante</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="restaurante !== undefined">         
<ion-card>
  <ion-item>
    <div class="box-header with-border">
      <h3 class="box-title">{{restaurante.name}}</h3><span class="pull-right"><i class="fa fa-star"></i> {{restaurante.rating}}</span>
    </div>
  </ion-item>
  <ion-item>
    <div class="col-sm-3 col-xs-12">
      <img class="box-img-detail" [src]="restaurante.imagePath" />
    </div>
  </ion-item>
  <ion-card-content>
    <dt>Horários: </dt>
    <dd>{{restaurante.hours}}</dd>
  </ion-card-content>
</ion-card>
  <ion-card>
  <div *ngFor="let produto of produtos">
    <ion-row>
      <ion-col>
        <ion-card>
          <span class="menu-item-info-box-icon"><img [src]="produto.imagePath"></span>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-row class ="name">
          <span class="menu-item-info-box-text">{{ produto.name }}</span>
        </ion-row>
        <ion-row class = "description">
          <span class="menu-item-info-box-detail">{{ produto.description }}</span>
       </ion-row>  
       <ion-icon name="add-circle"></ion-icon>
          <a (click)="adicionarItemCarrinho(produto)"> Adicionar</a>
      </ion-col>
    </ion-row>
    </div>
</ion-card>

<!--Carrinho -->
<ion-card>
  <ion-card>
  <ion-row>
    <ion-col>
      <ion-icon name="cart" class="carrinho"></ion-icon>
    </ion-col>
    <ion-col>
      <h3 class="box-title">Carrinho</h3>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class= "frete-total">
            <tr *ngFor="let item of itensCarrinho">
              <th>{{ item.item }} x {{ item.quantidade }}</th>&nbsp;
              <td class="text-right">{{ item.subtotal | currency:'BRL' }}</td>
            </tr>
          <tr >
            <th>Frete:</th>&nbsp;
            <td class="text-right">R$ 0,00</td>
          </tr>
          <tr >
            <th>Total:</th>&nbsp;
            <td class="text-right">{{ total | currency:'BRL' }}</td>
          </tr>
    </ion-col>
  </ion-row>
  <ion-row>
    
    <div class="pull-right" *ngIf="itensCarrinho.length === 0">
      <ion-col>
      <ion-button
        fill="clear"
        class="limpar"
        (click)="limparCarrinho()"
        disabled
      > Limpar</ion-button>
      &nbsp;
    </ion-col>
    <ion-col>
      <ion-button  fill="clear" class="pedido" disabled> Fechar Pedido</ion-button>
    </ion-col>
    </div>
</ion-row>
<div class="pull-right" *ngIf="itensCarrinho.length !== 0">
  <ion-button
    fill="clear"
    class="limpar"
    (click)="limparCarrinho()"
  > Limpar</ion-button>
  &nbsp;
  <ion-button fill="clear"  routerLink="/pedido" class="pedido">Fechar Pedido</ion-button>
</div>
  </ion-card>
</ion-card>
  </ion-content>
