<ion-content class="ion-padding" >
    <h1 class= "titulo">
        Flow
    </h1>
  <form [formGroup]="formulario" (ngSubmit) = "autenticar()">
    <ion-row >
        <ion-col class="form">
              <ion-item  >
                  <ion-icon name="at"></ion-icon>
                  <ion-label>Email: </ion-label>
                  <ion-input type ="email" formControlName="email"></ion-input>
                </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col class="form">
              <ion-item >
                  <ion-label>Password: </ion-label>
                  <ion-input type ="password"  formControlName="senha"></ion-input>
                </ion-item>
          </ion-col>
        </ion-row>
        <ion-row >
            <ion-col class="botao">
                <ion-button type="submit" expand="full"
                fill="clear">Sign in</ion-button>
            </ion-col>
          </ion-row>       
          <ion-row  class="ion-justify-content-center">
                  <a class="esqueciSenha">
                     Forgot Password? 
                  </a>
            </ion-row>    
            <ion-row  class="ion-justify-content-center">   
                    <a  class="cadastro"  routerLink="/cadastro" >
                       Don´t have an account?
                    </a>
              </ion-row>    
            </form>
</ion-content>
