<ion-header>
  <ion-toolbar>
    <ion-title class= "login">
      Flow
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-row>
        <ion-col class="test">
              <ion-item>
                  <ion-icon name="at"></ion-icon>
                  <ion-label>Email: </ion-label>
                  <ion-input type ="email" ></ion-input>
                </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col class="test">
              <ion-item>
                  <ion-label>Password: </ion-label>
                  <ion-input type ="password" ></ion-input>
                </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="test">
                <ion-button color="danger" routerLink="/home">Sign in</ion-button>
            </ion-col>
          </ion-row>       
          <ion-row>
              <ion-col class="test">
                  <button class="ion-activatable">
                     Forgot Password? 
                    </button>
              </ion-col>
            </ion-row>    
            <ion-row>
                <ion-col class="test">
                    <button class="ion-activatable"  routerLink="/cadastro">
                       Não Possui Conta? Faça o Cadastro
                      </button>
                </ion-col>
              </ion-row>    
</ion-content>
