.titulo {
    font-size: 48px;
    color: #E91D29;
    font-weight: bold;
    text-align: center;
    height: 3.5em;
    position: relative;
    top: 15%;

}
.form{
    top:10%;
    bottom:40%;
    align-items: center;
    width: 100%; 
    background-color: #F1F5F6;
    
    
}
ion-button {
    text-align: center;
    font-size: 14px;
    width: 100%;
    background: #e91d29;
    color: #F1F5F6


}

.ion-activatable{
    text-align: center;
   
}
ion-content{
    --ion-background-color:#F1F5F6;
}