<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="tela-inicial"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" >
    <h1 class= "titulo">
        Flow
    </h1>
  <form [formGroup]="formulario" (ngSubmit) = "autenticar()">
    <ion-row >
        <ion-col class="form">
              <ion-item  >
                  <ion-icon name="at"></ion-icon>
                  <ion-label>Email: </ion-label>
                  <ion-input type ="email" formControlName="email"></ion-input>
                </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col class="form">
              <ion-item >
                  <ion-label>Password: </ion-label>
                  <ion-input type ="password"  formControlName="senha"></ion-input>
                </ion-item>
          </ion-col>
        </ion-row>
        <ion-row >
            <ion-col class="botao">
                <ion-button color="danger" type="submit" routerLink="/home">Sign in</ion-button>
            </ion-col>
          </ion-row>       
          <ion-row>
              <ion-col  class="ion-activatable ">
                  <button>
                     Forgot Password? 
                    </button>
              </ion-col>
            </ion-row>    
            <ion-row >
                <ion-col class="ion-activatable ">
                    <button   routerLink="/cadastro">
                       Não Possui Conta? Faça o Cadastro
                      </button>
                </ion-col>
              </ion-row>    
            </form>
</ion-content>
