.login {
    text-align: center !important;
    color: red;
}
.test {
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: white
}
.ion-activatable {
    position: relative;
    overflow: hidden;
  }