<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
    <ion-title>Finalizando Pedido</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
          <form [formGroup]="formulario"  (ngSubmit) = "confirmarCompra()">
            <ion-card>  
                <div class="form-group">
                  <ion-input type="text" 
                  class="form-control"
                  placeholder="Endereço"
                  formControlName="endereco"
                    ></ion-input>  
                    <small *ngIf="formulario.get('endereco').valid && formulario.get('endereco').touched" class="form-text text-success" >Endereco Valido</small>
                    <small *ngIf="formulario.get('endereco').invalid && formulario.get('endereco').touched" class="form-text text-danger">Endereço Invalido</small>
                </div>
              <div class="col-sm-2 col-xs-6">
                  <ion-input type="text" 
                  class="form-control" 
                  placeholder="Número"
                  formControlName="numero"
                  ></ion-input>  
                  <small *ngIf="formulario.get('numero').valid && formulario.get('numero').touched" class="form-text text-success" >Numero Valido</small>
                  <small  *ngIf="formulario.get('numero').invalid && formulario.get('numero').touched" class="form-text text-danger">Numero Invalido</small>             
              </div>
              <div class="col-sm-4 col-xs-6">           
                  <ion-input type="text" 
                  class="form-control" 
                  placeholder="Complemento"
                  formControlName="complemento"
                  >      </ion-input>                 
              </div>
            </ion-card>
            <ion-card class ="padding">
            <div class="row">
              <h5 class = "itens">
                Itens do Pedido
              </h5>
              <tr *ngFor="let itens of itensCarrinho">

                <ion-row class ="item">
                  <th>Item: </th> &nbsp;
                    <td> {{ itens.item }}</td>
                </ion-row>

                  <ion-row class ="quantidade">
                      <th class="text-center">Quantidade: </th> &nbsp;   
                        <a class="btn btn-sm" (click)="diminuir(itens)"><i class="fa fa-minus">-</i></a>
                         {{itens.quantidade}}
                        <a class="btn btn-sm" (click)="adicionar(itens)"><i class="fa fa-plus">+</i></a>
                    </ion-row>

                      <ion-row class="subtotal">
                      <th class="text-right">Subtotal: </th> &nbsp;
                        <td class="text-right"> {{ itens.subtotal | currency:'BRL' }}</td>
                    </ion-row>
 
                  </tr>
            </div>
          </ion-card>
          <ion-card>
                <p class="lead">Formas de Pagamento:</p>
                  <div class="form-group">
                    <div>
                      <ion-label>
                        <div class="exemplo-radio">    <input type="radio" value="dinheiro" name="formaPagamento"  formControlName="formaPagamento"/>    
                          <ion-label for="campo-radio1">Dinheiro</ion-label>    
                          <input type="radio" value="debito" name="formaPagamento" formControlName="formaPagamento"/>    
                                   Debito                 
                          </div>
                      </ion-label>
                      </div>
                      <small  *ngIf="formulario.get('formaPagamento').valid && formulario.get('formaPagamento').touched" class="form-text text-success">Forma de Pagamento valida</small>
                      <small  *ngIf="formulario.get('formaPagamento').invalid && formulario.get('formaPagamento').touched" class="form-text text-success">Forma de Pagamento Invalido</small>
                  </div>
                <p class="lead">Frete e Total:</p> &nbsp;
                  <table class="table">
                    <tbody><tr>
                      <th style="width:50%">Itens:</th> &nbsp;
                      <td class="text-right">{{ total| currency:'BRL' }}</td>
                    </tr>
                    <tr>
                      <th>Frete:</th> &nbsp;
                      <td class="text-right">R$ 0,00</td>
                    </tr>
                    <tr>
                      <th>Total:</th> &nbsp;
                      <td class="text-right">{{ total| currency:'BRL' }}</td>
                    </tr>
                  </tbody></table>
                </ion-card>
                <div class="row"  *ngIf="itensCarrinho.length === 0 || formulario.get('endereco').invalid  || formulario.get('numero').invalid || formulario.get('formaPagamento').invalid"
                >
                    <ion-button class="btn btn-success pull-right" disabled expand="full"  fill="clear"><i  class="fa fa-credit-card" >
                    </i > Concluir Pedido
                    </ion-button>      
                </div>
                <div class="row"  *ngIf="itensCarrinho.length !== 0 && formulario.get('endereco').valid && formulario.get('numero').valid && formulario.get('formaPagamento').valid"
                >
                    <ion-button  type="submit" class="btn btn-success pull-right" expand="full"  fill="clear"><i class="fa fa-credit-card">
                    </i> Concluir Pedido
                  </ion-button>
                </div>
        </form>
</ion-content>
