ion-button {
    width: 320px;
    height: 30px;
    color: white;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
    background: #e91d29;
    margin-left:20px;
    align-items: center;
}

ion-label{
    font-size: 18px;
    width:100%;
}
.item{
    margin-left: 10px;
    margin-top: 10px;
}
.quantidade{
    margin-left: 10px;
    margin-top: 3px;
}
.subtotal{
    margin-left: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
}
.itens{
    text-align: center;
}
.frete{
    margin-left: 10px;
}
