ion-button {
    width: 320px;
    height: 30px;
    color: white;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
    background: #e91d29;
    margin-left:20px;
    align-items: center;
}

ion-label{
    font-size: 18px;
    width:100%;
}