<ion-header>
  <ion-toolbar>
    <ion-title class ="inicio">Flow</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-row>
      </ion-row> 
    <ion-row>
        <ion-col class="test">
            <ion-button color="danger" routerLink = "/login">Login</ion-button>
        </ion-col>
      </ion-row> 
      <ion-row>
          <ion-col class="test">
              <ion-button color="danger" routerLink ="/cadastro" >Cadastrar</ion-button>
          </ion-col>
        </ion-row> 
        <ion-row>
            <ion-col class="test">
                <ion-button color="danger" routerLink = "/home">Visitar</ion-button>
            </ion-col>
          </ion-row> 
</ion-content>
