
ion-icon{
  font-size: 25px;
  color: red;
  margin-top: 10px;
  margin-left: 20px;
}
.home{
align-items: center;
 margin-top: 10px;
 font-size: 15px;
}
ion-card{
  margin-top: 5px;
}
.titulo{
  font-size: 15px;
  font-family: "Open Sans";
}
  .preco{
    font-size: 15px;
    font-family: "Open Sans";
  }
  ion-title{
    font-family: "Open Sans";
    font-size: 25px;
    text-align: center;
  }
.car{
  text-align: right;
  margin-right: 20px;
  font-size: 25px;
}