<ion-header>
    <ion-toolbar>
            <ion-row>
                    <a (click) = "logoff()">
                        <ion-icon name="log-out"></ion-icon>
                    </a>
                        <ion-title>
                            Home
                        </ion-title>
                    <a routerLink="/carrinho">
                        <ion-icon name="cart" class="car"></ion-icon>
                     <ion-badge *ngIf="this.itensCarrinho.length > 0">{{ itensCarrinho.length }}</ion-badge>
                        
                    </a>   
         </ion-row> 
    </ion-toolbar>
  </ion-header>
<ion-content >
    <ion-row *ngFor="let restaurante of restaurantes">
            <a [routerLink]="['/restaurante', restaurante.id]" >
        <ion-col>
            <ion-card>
                <ion-card>
                        <img [src]="restaurante.imagePath"/>
                </ion-card>
                <ion-card-content >
                    <ion-row class = "titulo">
                        <ion-label>{{restaurante.name}}</ion-label>
                    </ion-row>
                    <ion-row class = "preco">
                        <ion-label>{{restaurante.category}}</ion-label>
                    </ion-row>
                </ion-card-content>
              </ion-card>
        </ion-col>
        </a>
      </ion-row>
</ion-content>