.titulo{
  color: #8b999f;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
}
.preco{
  width: 31.96px;
  height: 19px;
  color: #8b999f;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
}
ion-icon{
  font-size: 25px;
  color: red;
  margin-top: 10px;
  margin-left: 10px;
}
.home{
  align-items: center;
 margin-top: 10px;
}
