<ion-header>
    <ion-toolbar>
        <a (click) = "logoff()">
            <ion-icon name="log-out"></ion-icon>
         </a>
    </ion-toolbar>
  </ion-header>
<ion-content >
    <ion-row>
        <ion-col>
            <ion-card>
                <ion-card>
                        <img src='./../../assets/pictures/comida.png'>
                </ion-card>
                <ion-card-content (click) = "carrinho()">
                    <ion-row class = "titulo">
                        <ion-label>Comida Caseira</ion-label>
                    </ion-row>
                    <ion-row class = "preco">
                        <ion-label> $300,00</ion-label>
                    </ion-row>
                </ion-card-content>
              </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
            <ion-col>
                <ion-card>
                    <ion-card>
                            <img src='./../../assets/pictures/suco.png'>
                    </ion-card>
                    <ion-card-content>
                        <ion-row class = "titulo">
                            <ion-label>Sucos Deliciosos</ion-label>
                        </ion-row>
                        <ion-row class = "preco">
                            <ion-label> $30,00</ion-label>
                        </ion-row>
                    </ion-card-content>
                  </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
                <ion-col>
                    <ion-card>
                        <ion-card>
                                <img src='./../../assets/pictures/torta.png'>
                        </ion-card>
                        <ion-card-content>
                            <ion-row class = "titulo">
                                <ion-label>Torta Frutas Vermelhas</ion-label>
                            </ion-row>
                            <ion-row class = "preco">
                                <ion-label> $150,00</ion-label>
                            </ion-row>
                        </ion-card-content>
                      </ion-card>
                </ion-col>
              </ion-row>


</ion-content>